
#clock {
    font: 85pt Roboto, sans-serif;
    color: #fbf9f9;
    font-weight: 500;
    -moz-text-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    -webkit-text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
